---
import { Icon } from "astro-icon/components";
import Sectionhead from "./sectionhead.astro";

const customers = [
  {
    company: "edgeless",
    link: "https://www.edgeless.systems/",
    description:
      "Edgeless Systems is a cybersecurity company that makes the public cloud the safest place for sensitive data. With world-leading open-source solutions for confidential computing, Edgeless Systems takes security to an unprecedented level.",
    testimonial:
      '"Working with David is great. He combines deep technical knowledge and ability with great communication skills and an entrepreneurial mindset. This combination is really rare and is what makes David an outstanding professional." - Dr. Felix Schuster, CEO Edgeless Systems',
  },
  {
    company: "radix",
    link: "https://radix-security.com/",
    description:
      "Radix Security develops solutions for secure mobile networks. With products such as automatic security evaluation, the team targets certifying test centers, component manufacturers, and commercial network operators and addresses the complex requirements of different phases of the network lifecycle.",
    testimonial:
      '"David helped Radix Security create and build blog posts and a knowledge base for our technical domain. He quickly grasped the tasks, communication was straightforward, and he exceeded our expectations for the assignments.“ - Dr. David Rupprecht, CEO Radix Security',
  },
];
---

<>
  <a id="customers" href="#customers" aria-label="my customers"></a>
  <div class="mt-16 md:mt-32">
    <Sectionhead>Trusted by industry-leading innovators.</Sectionhead>
    <div class="mt-12">
      {
        customers.map((item) => (
          <div class="grid lg:grid-cols-2 place-items-center pt-2 pb-2 md:pt-2 md:pb-2">
            <div class="py-2 md:order-0 md:block">
              <a href={item.link} aria-label={item.company}>
                <Icon class="size-48 md:size-48" name={item.company} />
              </a>
            </div>
            <div>
              <h3 class="text-lg font-bold">{item.testimonial}</h3>
              <h3 class="text-md mt-4 text-slate-600">{item.description}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</>
